body{
  font-family: "Inter";
}


.cards--width{
  width: 660px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 247, 237, 1);
  
}

.cards{
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.top-buttons{
  align-self: start;
  margin: 40px 0px 20px 42px;
}

.top-buttons h1{
  font-size: 32px;
  font-weight: 700;
  margin: 12px;
}

.top-buttons button{
  margin: 10px 12px;
  width: 104px;
  height: 37px;
  outline: none;
  border: none;
  background-color: rgba(255, 234, 208, 1);
}

.top-buttons a{
  text-decoration: underline;
  color: rgba(77, 77, 77, 1);
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0px 10px 30px;
}


.images{
  /* margin: 15px; */
  width: 250px;
  height: 250px;
  border-radius: 7px;
}




.allcars .type-price{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.allcars .type-price p{
  font-weight: 600;
  font-size: 24px;
}

.button a{
  text-decoration: none;
 font-size: 18px;
 color:white;

}



.allcars .button-perday{
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
}

.allcars .button-perday .button{
  width: 92px;
    height: 40px;
    display:flex;
  align-items: center;
  justify-content: center;
   border-radius: 5px;
}


.allcars .button .perday p{
 font-size: 12px;
 
   
}

.cardvans--container{
  padding-bottom: 28px;
}
.home-container {
  background-image: url(./Images/image\ 54.png);
  height: 54vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-main {
  display: flex;
  justify-content: space-between;
  height: 112px;
  align-items: center;
  width: 660.15px; 
  background-color: rgba(255, 247, 237, 1);
  padding: 0px 20px;
}

.Header-main a{
  color: black;
  font-size: 15px;
  font-weight: 400;
  margin: 0 5px;
}

.Header-main .logo{
  width: 145px;
  height: 25px;
  object-fit: contain;
}

.main-section {
  max-width: 660px;
  margin: 40px auto;
  background-color: white;
}

.link-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF8C38;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-top: 35px;
  padding: 10px 0px;
}

.section-divide3 {
  padding: 0px 9px;
}

.text-spacing {
  margin-bottom: 20px;
}

.about-image {
  width: 100%;
}

.about-page-content {
  padding: 20px;
}

.about-page-cta {
  background-color: #FFCC8D;
  height: 20vh;
}

.link-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 7px;
  position: relative;
  top: 37px;
}

.footer {
  background-color:#252525;
  color: white;
  padding: 25px 20px;
  display: flex;
  justify-content: center;
  width: 660px;
}
