*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
 
}

.name-k {
  font-size: 23;
}


@font-face {
  font-family: "Inter",sans-serif;
  src: url("../src/Inter.ttc");
}

/* body{
display: flex;
justify-content: center;

} */
